.beenav{
	font-family:calibri;
}

.beenav1{
	height:20px;
	background:#FFCCCC;
	font-size:12px;
	margin-bottom:0px !important;
	border-radius:0px;
	border:0px;
}

.beenav2{
	height:20px;
	background:white;
	font-size:12px;
	margin-bottom:0px !important;
	border-radius:0px;
	border:0px;
	padding-left:400px;
}

.beenav3{
	height:20px;
	background:white;
	font-size:12px;
	margin-bottom:0px !important;
	border-radius:0px;
	border:0px;
	padding-left:150px;
}
.beenav3>li{
	padding-left:50px;
}
.logo_bee{
	height:40px;
	width:45px;
}