.eyeNav4{
	font-family:Verdana,sans-serif;
}

.eyeNav4{
	height:20px;
	background:white;
	font-size:10px;
	margin-bottom:0px !important;
	border-radius:0px;
	border:0px;
}
.eyeNav5{
	height:50px;
	font-size:13px;
	height:60px;
	background:white;
	font-size:13px;
	margin-bottom:0px !important;
	border-radius:0px;
	border:0px;
	

}

.eyeNav5 ul li {
	margin-left:50px;
}

.eyeNav6{
	background:#CFCFCF;
	margin-bottom:0px !important;
	border-radius:0px;
	border:0px;
	padding-left:400px;
}


.logo_eye1{
	height:50px;
	width:55px;

}