.tangmonav{
	background:#171515;
	font-family:Verdana,sans-serif;
}

.tangmo{
	height:20px;
	background:#171515;
	font-size:12px;
	margin-bottom:0px !important;
	border-radius:0px;
	border:0px;
}

.tangmo .navbar-nav> li > a{
	color:white;
}

.nav> li > a:hover, .nav> li > a:focus{
	background-color:silver;
	text-decoration:none;
}

.tangmo1{
	background:pink;
	font-size:12px;
	height:70px;
	margin-bottom:0px !important;
	border-radius:0px;
	border:0px;
}

.logo_tangmo{
	height:40px;
	width:45px;
	padding-top: 10px !important;
}


.formTangmo {
	width:700px !important;
	margin-left:5px;
	height:40px;
}


.tangmoSubmit{
	margin-left:10px;
	height:40px;
}


.tangmo2{
	background:#171515;
	margin-bottom:0px !important;
	border-radius:0px;
	font-size:11px;
	border:0px;
}


.tangmo2 .navbar-nav> li > a{
	color:white;























