



.sliderTangmo{
margin-top:10px;

}

.bannerTangmo{
	margin-bottom:30px;
}


.fixed-ratio-resize { /* basic responsive img */
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}

.slider{
	margin-left:30px;
	margin-right:30px;
	background:blue;
}

	
	
	
	