<html>
	<head>
	
		<title>
		Phitsanulok Vocational College</title>
	</head>
	
	<body style="background : #ff9999">
	<center>
	
	<p><h1><U> Phitsanulok Vocational College </p></h1></U>
	<hr>
		<div style = "background : #ffcccc">
		<h2>About the College</h2><br></center>
		</div>

	<div style = "background : #ffe6e6">
	<center>
	<table width = "1200" border = "0">
		<br><td><B> History : </B> Phitsanulok Vocational College , formerly known as "school of sewing" Established on November 24,1938, at the Boom Boom School, 
	it was moved to its Present location at 60 60 Wang chan Road, Muang Phitsanulok, Phitsanulok Province. With an area of 18 rai 2 ngan 20 sq.wah 
	and renamed as asewing and ladie's garment factory in Phitsanulok Province in 1975, it was changged to Phitsanulok Vocational school 
	and 1976 were upgraded to Phitsanulok Vocational College<br><br>
		<B> Location : </B> 60 Wang chan road ,Muang Phitsanulok,Phitsanulok 65000<br><br>
		<B> Size : </B> The area of 18 rai 2 ngan 20 sq.wah<br></td>
	</table><br>
	<img src="templates\plvc.jpg" width=300 height="200">
	
	<div style = "background : #ffcccc">
		<h2>Students</h2><br></center>
		</div>

	<div style = "background : #ffe6e6">
	<center>
	<table width = "1200" border = "0">
		<br><td>Phitsanulok Vocational college has about 3000 students.These are more girls than boys. The college has about 2200 or more girls.
		Most of the students are from with in the provinces of Phitsanulok , Sukhothai and Petchabun.<br></td>
	</table><br>
	<img src="student.jpg" width=300 height="200">
	
	<div style = "background : #ffcccc">
		<h2>School Departments</h2><br></center>
	<div style = "background : #ffe6e6">	
	<dd><ol><li> Business Computer </li>
	    <li> Accounting </li>
	    <li> Home Economic </li>
	    <li> Arts </li>
	    <li> Food and Nutrition </li>
	    <li> Fashion and Textile </li>
		<li> General Education </li>	    
		<li> Information Technology </li>	    
		<li> Marketing </li>	    
		<li> Tourism and Hotel </li></dd>

	</ol>
	
	<center>
	<div style = "background : #ffcccc">
		<h2>Teachers</h2><br></center>
		</div>
	
	<div style = "background : #ffe6e6">
	<center>
	<table width="300" border="1">
	<tr align = "center">
		<td>Number</td>
		<td>Name</td>
		<td>Department</td>
	</tr>
	<tr align = "center">
		<td>1.</td>
		<td>Aj.Tangmo</td>
		<td>Business Computer</td>
	</tr>
	<tr align = "center">
		<td>2.</td>
		<td>Aj.Tom</td>
		<td>Business Computer</td>
	</tr>
	<tr align = "center">
		<td>3.</td>
		<td>Aj.Honey</td>
		<td>Business Computer</td>
	</tr>
	<tr align = "center">
		<td>4.</td>
		<td>Aj.Kook</td>
		<td>Business Computer</td>
	</tr>
	<tr align = "center">
		<td>5.</td>
		<td>Aj.Pla</td>
		<td>Business Computer</td>
	</tr>
	<tr align = "center">
		<td>6.</td>
		<td>Aj.Waw</td>
		<td>Business Computer</td>
	</tr>
	<tr align = "center">
		<td>7.</td>
		<td>Aj.Ancha</td>
		<td>Business Computer</td>
	</tr>
	<tr align = "center">
		<td>8.</td>
		<td>Aj.Dong</td>
		<td>Business Computer</td>
	</tr>
	<tr align = "center">
		<td>9.</td>
		<td>Aj.Eid</td>
		<td>Business Computer</td>
	</tr>
	<tr align = "center">
		<td>10.</td>
		<td>Aj.Thongchai</td>
		<td>Business Computer</td>
	</tr>
	</table>
	</body>
</html>